.opacity, .landing-logo p, .header_heading, p.header_text, a.login, .section_card .section_card_right_container .section_card_heading, .section_card .section_card_right_container .section_card_text, .section_card .section_card_right_container .section_link, .footer-wrap {
  opacity: 0.8; }

.border_radius, .section_card, .section_card .section_card_img, .section_banner {
  border-radius: 7px; }

body {
  max-width: 1920px;
  font-family: "Hind", sans-serif;
  margin: 0 auto;
  padding-left: auto;
  background-color: #21232E; }

header {
  height: 720px;
  background-image: url("../img/m-h-night.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #21232E;
  padding-left: 190px;
  border-bottom-right-radius: 50em 17em;
  background-color: #21232E; }

.header-wrap {
  display: flex;
  flex-direction: column; }

.landing-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  display: flex;
  margin-top: 20px;
  color: #FFFFFF; }
  .landing-logo img {
    height: 45px;
    width: 45px; }
  .landing-logo p {
    margin: 0 0 0 15px;
    height: auto;
    text-align: center;
    font-size: 23px;
    color: #FFFFFF;
    font-stretch: condensed;
    line-height: 80%; }
    .landing-logo p span {
      font-size: 50%;
      text-align: center;
      font-weight: lighter;
      display: block; }

.header_heading {
  max-width: 650px;
  font-family: "Hind", sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 75px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1; }
  .header_heading::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #FF4E33;
    height: 50px;
    width: 295px;
    top: 98px;
    left: 0; }

p.header_text {
  white-space: pre;
  font-weight: lighter;
  color: #FFFFFF;
  font-size: 15px;
  letter-spacing: 1px;
  margin-left: -58px; }

button.header_button {
  background-color: #E3AC00;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  float: left;
  padding: 10px 45px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  font-family: "Hind", sans-serif;
  cursor: pointer;
  position: relative; }

a.login {
  position: absolute;
  font-weight: bold;
  font-size: 21px;
  margin-left: 160px;
  color: #FFFFFF; }

main {
  background-color: #21232E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px; }

.section_text {
  font-family: "Hind", sans-serif;
  font-size: 43px;
  font-weight: 600;
  color: #FFFFFF;
  position: relative;
  z-index: 2; }
  .section_text::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #FF4E33;
    height: 50px;
    width: 195px;
    right: 12px;
    bottom: 10px; }

.section_card_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 200px; }

.section_card {
  background-color: #3B3F50;
  height: 330px;
  width: 1115px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .section_card .section_card_img {
    margin-left: 20px;
    width: 90%;
    height: 290px;
    object-fit: cover; }
  .section_card .section_card_right_container {
    color: #21232E;
    margin-left: 85px;
    margin-right: 105px;
    text-align: center; }
    .section_card .section_card_right_container .section_card_heading {
      color: #FFFFFF;
      font-size: 140%; }
    .section_card .section_card_right_container .section_card_text {
      font-family: "Fresca", sans-serif;
      text-align: justify;
      color: #FFFFFF; }
    .section_card .section_card_right_container .section_link {
      color: #FFFFFF; }

.section_banner {
  margin-top: 140px;
  width: 1200px;
  height: 150px;
  background: #649412;
  background: linear-gradient(45deg, #DDA305 0%, #922C52 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  z-index: 1;
  margin-top: 690px; }
  .section_banner .section_banner_text_wrap .section_banner_heading {
    font-family: "Hind", sans-serif;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
    position: relative;
    z-index: 1; }
    .section_banner .section_banner_text_wrap .section_banner_heading::after {
      content: "";
      position: absolute;
      z-index: -1;
      background-color: #FF4E33;
      height: 55px;
      width: 60px;
      left: 117px;
      bottom: 1px; }
  .section_banner .section_banner_text_wrap .section_banner_text {
    color: #FFFFFF;
    opacity: 0.5; }
  .section_banner button.section_banner_button {
    background-color: #E3AC00;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    float: left;
    padding: 10px 45px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    font-family: "Hind", sans-serif;
    cursor: pointer; }

footer {
  height: 250px;
  background-color: #3B3F50;
  display: flex; }

.footer-wrap {
  margin-top: 80px;
  width: 1920px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  color: #21232E; }
  .footer-wrap .footer_text {
    width: 300px;
    line-height: 140%;
    font-size: 14px;
    color: white; }
  .footer-wrap p {
    color: #FFFFFF; }
  .footer-wrap .footer-cr {
    color: #FFFFFF; }
