@import "variables2";

.opacity {
	opacity: $opacity1;
}
.border_radius {
	border-radius: 7px;
}

@mixin blueRectangle {
	content: "";
	position: absolute;
	z-index: -1;
	background-color: map-get($mappedColors, wordsColor);
}

@mixin btn {
	background-color: map-get($mappedColors, buttonColor);
	border: none;
	border-radius: 3px;
	color: $textColor;
	float: left;
	padding: 10px 45px;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	font-family: $font-family1;
	cursor: pointer;	
}

@mixin links {
	color: $textColor;
	@extend .opacity;
}

body {
	max-width: 1920px;
	font-family: $font-family1;
	margin: 0 auto;
	padding-left: auto;
	background-color: map-get($mappedColors, colorForPage);
}

header {
	height: 720px;
	background-image: $header_img;
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	color: $mainBackgrColor;
	padding-left: 190px;
	border-bottom-right-radius: 50em 17em;
	background-color: $mainSectColor;
}

	.header-wrap {
		display: flex;
		flex-direction: column;
	}

	.landing-logo {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		font-weight: bold;
		display: flex;
		margin-top: 20px;
		color: $headerTextColor;
		
		img {
			height: 45px;
			width: 45px;
		}
		
		p {
			margin: 0 0 0 15px;
			height: auto;
			text-align: center;
			font-size: 23px;
			color: $headerTextColor;
			font-stretch: condensed;
			line-height: 80%;
			@extend .opacity;
			span {
				font-size: 50%;
				text-align: center;
				font-weight: lighter;
				display: block;
			}			
		}
	}
	.header_heading {
		max-width: 650px;
		font-family: $font-family1;
		font-size: 70px;
		font-weight: bold;
		@extend .opacity;
		color: $headerTextColor;
		line-height: 75px;
		margin-bottom: 30px;
        position: relative;
        z-index: 1;

		&::after {
		@include blueRectangle;
		height: 50px;				
		width: 295px;
		top: 98px;
		left: 0;
		}
	}

	p.header_text {
		white-space: pre;
		font-weight: lighter;
		color: $headerTextColor;
		font-size: 15px;
		letter-spacing: 1px;
		margin-left: -58px;
		@extend .opacity;
	}

	button.header_button {
		@include btn;
		position: relative;
	}

	a.login {
		position: absolute;
		font-weight: bold;
		font-size: 21px;
		margin-left: 160px;
		@include links;
	}

main {
	background-color: $mainBackgrColor;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 1120px;
}

.section_text {
	font-family: $font-family1;
	font-size: 43px;
	font-weight: 600;
	color: $headerTextColor;
	position: relative;
	z-index: 2;

	&::after {
		@include blueRectangle;
		height: 50px;				
		width: 195px;
		right: 12px;
		bottom: 10px;		
	}
}

.section_card_wrap {
	display: flex;
	flex-direction: column;	
	justify-content: center;
	margin-bottom: 200px;
}

.section_card {
	background-color: map-get($mappedColors, blocksAndFooter);
	height: 330px;
	width: 1115px;
	margin: 10px auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	@extend .border_radius;

	.section_card_img {
		margin-left: 20px;
		width: 90%;
		height: 290px;
		object-fit: cover;
		@extend .border_radius;
	}

	.section_card_right_container {
		color: $mainSectColor;	
		margin-left:85px;
    	margin-right: 105px;
		text-align: center;

		.section_card_heading {
			color: $textColor;
			font-size: 140%;
			@extend .opacity;
		}

		.section_card_text {
			font-family: $font-family2;
			text-align: justify;
			color: $textColor;
			@extend .opacity;
		}

		.section_link {
			@include links;
		}
	}
}

.section_banner {
	margin-top: 140px;
	width: 1200px;
	height: 150px;
	background: rgb(100,148,18);
    background: linear-gradient(45deg, $gradientColor1 0%, $gradientColor2 100%);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	@extend .border_radius;
	position: absolute;
	z-index: 1;
	margin-top: 690px;

	.section_banner_text_wrap {

		.section_banner_heading {
			font-family: $font-family1;
			margin: 0 auto;
			font-size: 30px;
			font-weight: 600;
			color: $headerTextColor;
			position: relative;
			z-index: 1;

			&::after {
				@include blueRectangle;
				height: 55px;				
				width: 60px;
				left: 117px;
				bottom: 1px;
			}
		}

		.section_banner_text {
			color: $textColor;
			opacity: 0.5;
		}
	}
	button.section_banner_button {
	@include btn;
	}
}

footer {
	height: 250px;
	background-color: map-get($mappedColors, blocksAndFooter);
	display: flex;
}

.footer-wrap {
	margin-top: 80px;
	width: 1920px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-around;
	color: white;
	color: $mainSectColor;
	@extend .opacity;

	.footer_text {
		width: 300px;
		line-height: 140%;
		font-size: 14px;
		color: white;
	}
	p {
		color: $textColor;
	}
	.footer-cr {
		color: $textColor;
	}
}
