$font-family1: 'Hind', sans-serif;
$font-family2: 'Fresca', sans-serif;
$header_img: url("../img/m-h-night.jpg");
$mainSectColor: #21232E;
$mainBackgrColor: #21232E;
$textColor: #FFFFFF;
$headerTextColor: #FFFFFF;
$gradientColor1: #DDA305;
$gradientColor2: #922C52;
$opacity1: 0.8;

$mappedColors: (
	colorForPage: #21232E,
	buttonColor: #E3AC00,
	blocksAndFooter: #3B3F50,
	wordsColor: #FF4E33
);