@import 'variables.less';

.headers {
    color: @blue;
    font-weight: bolder;
}

.related {
    font-weight: bolder;
    &__red {
        background-color: @red;
    }
    &__blue {
        background-color: @blue;
    }
    &__orange {
        background-color: @orange;
    }
    &__green {
        background-color: @green;
    }
}